<div class="jumbotron1">
	<div class="jumbo-container">
        <h1 id="title_jumbo">A Global Hub for <br> High-School Students</h1>
        <h2 id="subtitle_jumbo">Become a member of our international community</h2>
        <button href="#" id="button_jumbo" class="btn btn-success btn-lg">Join Us for Free »</button>
    </div>
</div>