<div class="jumbotron1">
	<div class="jumbo-container">
        <h1 id="title_jumbo">A Global Hub for <br> High-School Students</h1>
        <h2 id="subtitle_jumbo">Become a member of our international community</h2>
        <button href="#" id="button_jumbo" class="btn btn-success btn-lg">Join Us for Free »</button>
    </div>
</div>
<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Helping international students to succeed</h2>
    <p class="lead"> We are the academic community for students with a global mindset. Get informed about your best college options. Resolve with your peers questions about your academic subjects.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="<%= asset_path( 'library.jpg' ) %>" class="img-responsive">
        <h3>Forum</h3>
        <p>An international high-school program is always a challenge and sometimes it is better to get some help from your colleagues even if they are in the other side of the globe. Our <a href="#">forum</a> deals with your subjects and with everything related to colleges and univesities.</p>
      </div>
      <div class="col-sm-4">
        <img src="<%= asset_path( 'london.jpg' ) %>" class="img-responsive">
        <h3>University Search</h3>
        <p>Our <a href="#">university search engine</a> is customized for international students and looks into different countries at the same time by course and expected high-school grades. Save your searches to compare and decide where to apply.</p>
      </div>
      <div class="col-sm-4">
        <img src="<%= asset_path( 'Post.jpg' ) %>" class="img-responsive">
        <h3>Featured Discussions</h3>
        <p>We put together experts, fellow students and international university students to present accurate and unfiltered information about the best course and university recommendations. Join our <a href="#">featured discussions</a>.</p>
      </div>
    </div>
  </div>
</div>
<%= render('layouts/footer.html.erb') %>