<body>
<h2>Search a course you would like!</h2>
<form id="search_form">
Course: <input id="course_name" type="text" name="course_name">
<br><br>
Min - Max IB points: <input id="ibminimum" type="text" name="ibminimum" value="0"> - <input id="ibmaximum" type="text" name="ibmaximum" value="45">
<br><br>
<input type="submit">
</form>
<br><br>
<div id="results">

	
</div>


</body>
