<body>

<div class="bs-docs-featurette"> 
    <div class="row">
      <div class="col-sm-6">
        <img src="<%= asset_path( 'book.jpg' ) %>" id="about_photo">
      </div>
      <div class="col-sm-6">
        <h2 class="bs-docs-featurette-title">It's time to hit the books!</h2>
    <p class="lead" id="about_photo_text"> Hitbuk is building a global community for international students. The idea came about to solve some of the problems that its founders found when looking for universities in different countries. We would like to make that process simpler and more informed for international students. We would also like to facilitate the communication between our members so peers can help each other to perform better at school and achieve their academic objectives.</p>
      </div>
    </div>
  </div>
 <h2 align="center" id="about_photo_text">Founders</h2>
         <div class="container">
    <div class="row">
      <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
        <div class="[ info-card ]">
          <img style="width: 100%" src="https://avatars.githubusercontent.com/u/564874?v=3" />
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h1> Manuel Moreno</h1>
              <h3> hitbuk username: manumor </h3>
            </div>
            <div class="[ info-card-detail ]">
              <!-- Description -->
              <p>Manuel's decription</p>
              <div class="social">
                <a href="https://www.facebook.com/rem.mcintosh" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                <a href="https://github.com/mouse0270" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

                <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="[ col-sm-6 col-md-4 ]">
        <div class="[ info-card ]">
          <img style="width: 100%" src="<%= asset_path( 'omor.jpg' ) %>" />
                    <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h1> Oscar Moreno</h1>
              <h3> hitbuk username: omor </h3>
            </div>
            <div class="[ info-card-detail ]">
              <!-- Description -->
              <p>Oscar's decription</p>
              <div class="social">
                <a href="https://www.facebook.com/rem.mcintosh" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<%= render('layouts/footer.html.erb') %>