#profile_container {
  margin-left: 17%;
}

#user_info {
  background-color: #EDE6E2;
  margin-top: 30px;
  max-width: 700px;
  padding: 40px 40px 40px;
  margin: 0px auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 30px;
     -moz-border-radius: 50x;
          border-radius: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#profile_title {
  margin-left: 25%;
}

#username_profile{
  padding-left:150px;
  color: #564646;

}

.user_details {
  text-align: center;
  color: #564646;
}

#user_list {
  text-align: center;
  color: #564646;
}

#user_list a {
  text-align: center;
  font-size: 17px;
  color: #564646;
}

.user_attr {
  border-bottom: 1px solid #999;
}

#uni_title {
  color: #564646;
}

#user_course * {
  display: inline;
  font-size: 15px;
  color: #564646; 
}

#trash_delete {
  float: right;
}

#my_account_link {
  text-align:center;
}

#my_account_link a {
  color: #564646;
}

.round-image-50 {
  float: left;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }


  color: #999;
}

#compare_button {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width: 300px;
  height: 40px;

}