#user_info {
  color: #999;
  margin-top: 30px;
  max-width: 700px;
  padding: 40px 40px 40px;
  margin: 0px auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 30px;
     -moz-border-radius: 50x;
          border-radius: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#profile_title {
  color: #999;
  margin-left: 25%;
  margin-top: 3%;
}

.user_details {
  text-align: center;
}

#user_list {
  text-align: center;
}

.user_attr {
  border-bottom: 1px solid #999;
}

#uni_title {
  color: black;
}

#user_course * {
  display: inline;  
}

#trash_delete {
  float: right;
}

#my_account_link {
  text-align:center;
}

#my_account_link a {
  color: #999;
}

#compare_button {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width: 300px;
  height: 40px;
}