// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#border {
	display: block;
	border-top: 1px solid black;
	padding: 15px;
}

#list {
	list-style: none;
}

#results {
	font-size: 20px;
}

#uni_picture {
	float: right;
	width: 152px;

}

#show_more {
	color: black;
}