/* sidebar */
.bs-docs-sidebar {

    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sidebar {
	float: left;
	padding-top:40px;
}



/* all links */

.bs-docs-sidebar a {
    color: #999;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 400;
}
.bs-docs-sidebar .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 13px;
}




