.jumbotron-flat {
	margin: 30px;
	padding: 10px;
	background-color: solid #4DB8FFF;
	height: 100%;
	border: 1px solid #4DB8FF;
	background: white;
	width: 100%;
	text-align: center;
}

#border {
	display: block;
	border-top: 1px solid black;
	padding: 15px;
}

#list {
	font-size: 16px;
}

#results {
	font-size: 20px;
}

#uni_picture {
	float: right;
	width: 152px;

}

#show_more {
	background-color: #00C7D0;
	border: #00C7D0;
	color: white;
}

#show_more:hover {
	background-color: green;
}


