
<ul class="nav nav-stacked fixed bs-docs-sidebar" id="sidebar">
    <li>
        <a href="#GroupA">Featured Discussions</a>
        <ul class="nav nav-stacked" >
            <li><a href="#GroupASub1" >Discussion 1</a></li>
            <li><a href="#GroupASub2" >Discusion 2</a></li>
        </ul>
    </li>
     <li>
        <a href="#GroupA">Subjects</a>
        <ul class="nav nav-stacked" >
            <li><a href="#GroupASub1" >Math HL</a></li>
            <li><a href="#GroupASub2" >English HL</a></li>
            <li><a href="#GroupASub2" >Physics HL</a></li>
             <li><a href="#GroupASub1" >Spanish SL</a></li>
            <li><a href="#GroupASub2" >Biology SL</a></li>
            <li><a href="#GroupASub2" >Business SL</a></li>
            <li><a href="#GroupASub2">ToK and EE</a></li>
        </ul>
    </li>
    <!-- Same for Group B & C -->
</ul>
