
<ul class="nav nav-stacked fixed bs-docs-sidebar" id="sidebar">

     <li>
        <span class="button_group">
            <a href="#GroupA">Subjects</a>
            <% if user_signed_in? %>
            <button id="button_subjects" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal_add">Add</button>
            <% else %>
            <%= link_to('Add', main_app.new_user_session_path, :id => "link_add_subjects", :class => "btn btn-primary" )%>
            <% end %>
        </span>
        <ul class="nav nav-stacked" >
            <li><a href="./categories/tok-and-ee">ToK and EE</a></li>
            <div id="preferences" class="nav nav-stacked">
            <% if user_signed_in? %>
                <% current_user.subjects.each do |subject|%>
                <li ><a  href="./categories/tok-and-ee"><%= subject.name %></a></li>
                <% end %>
            <% end %>

            </div>
        </ul>
    </li>
    <li>
        <a href="#GroupA">Featured Discussions</a>
        <ul class="nav nav-stacked" >
            <li><a href="#GroupASub1" >Discussion 1</a></li>
            <li><a href="#GroupASub2" >Discusion 2</a></li>
        </ul>
    </li>
</ul>

<!-- Modal appears when you click on 'ADD' -->

<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please select the subjects you are interested in:</h4>
      </div>
      <div class="modal-body">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Mathematics</a>
                    </h4>
                </div>
            <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="btn" id="button_subject" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="checkbox" value="Math Studies"> Math Studies
                    </label>
                    <label class="btn btn-default">
                         <input type="checkbox" value="Math SL"> Math SL
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" value="Math HL"> Math HL
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" value="Further Math"> Further Math
                    </label>
                </div>
            </div>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Languages</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="btn" id="button_subject" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="checkbox" value="Spanish Ab Initio"> Spanish Ab Initio
                    </label>
                    <label class="btn btn-default">
                         <input type="checkbox" value="Mandarin Ab Initio"> Mandarin Ab Initio
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" value="French Ab Initio"> French Ab Initio
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" value="German Ab Initio"> German Ab Initio
                    </label>
                </div> 
            </div>
        </div>
    </div>

            </div>
        </div>

        <div class="modal-footer">
            <button id="submit_subjects" type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
        </div>
    </div>
  </div>
</div>


